body{
  background: #FAF0E4;
}
.App {
  text-align: center;
  position: relative;
}
div{
  box-sizing: border-box;
}
.nav{
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #9BCDD2;
  width: 100%;
  color: white;
  text-align: center;
}
.content-box{
  display: flex;
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid #9BCDD2;
  align-items: center;
  position: relative;
}
span, h4{
  padding-right: 10px;
  padding-left: 10px;
}
.cursor{
  cursor: pointer;
}
.btn{
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border: none;
  color: white;
  background: #9BCDD2;
  border-radius: 5px;
  text-decoration: none;
}

.flex-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.del-btn{
  background: #FF8551;
}
.input-style{
  margin: 10px;
  padding: 10px;
  border: 1px solid #9BCDD2;
  background: #FAF0E4;
}
.add-btn{
  background: #FFDEDE;
  color: black;
}
.btn-container{
  position : absolute;
  right: 30px;
}