@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

body{
  background: #FAF0E4;
}
.dongle-font{
  font-family: 'Dongle', sans-serif;
}
.App {
  text-align: center;
  position: relative;
}
div{
  box-sizing: border-box;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  background-color: #9BCDD2;
  width: 100vw;
  color: white;
  text-align: center;
  position: relative;
}
.nav-item{
  text-decoration: none;
  color: white;
}
span, h4{
  padding-right: 10px;
  padding-left: 10px;
}
.cursor{
  cursor: pointer;
}
.btn{
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  border: none;
  color: white;
  background: #9BCDD2;
  border-radius: 5px;
  text-decoration: none;
  transition: 1s;
  font-family: 'Dongle', sans-serif;
  font-size: 20px;
  width: 60px;
  height: 40px;
  
}
.btn:hover{
  background-color: #3AA6B9;
}

.flex-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.del-btn{
  background: #FF8551;
}

.add-btn{
  background: #FFDEDE;
  color: black;
}
.btn-container{
  position : absolute;
  right: 30px;
}
.nav-btn-container{
  position : absolute;
  right: 30px;
}
